.result{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    padding-left:500px;
    padding-right:500px;
    font-weight: bold;
    margin-top:30px;
    }

#sorry{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    padding-left:200px;
    padding-right:500px;
    font-weight: bold;
    margin-top:30px;
    }

.borrowing{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;

}