.products-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-style {
    position: relative;
    margin: 40px 15px 25px;
}
.product-style figcaption p {
    margin-bottom: 20px;
}
.products-grid .product-style {
    width: 15%;
}
.products-grid.col-5 .product-style {
    width: 15%;
}
.products-grid.col-4 .product-style {
    width: 15%;
}
.products-grid.col-3 .product-style {
    width: 15%;
}
.product-style img.product-item {
    background: #EFEEE8;
    border: 1px solid #EAE8DF;
    padding: 10%;
    cursor: pointer;
    width: 100%;
}
.product-style button.add-to-cart {
    background: #44b89d;
    color: #fff;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    line-height: 3;
    position: absolute;
    bottom: 300px;
    left: 10px;
    z-index: 9;
    opacity: 0;
    transition: 0.5s ease-out;
    border-radius: 10%;
    border: 0px;
}
.product-style:hover button.add-to-cart {
    bottom: 250px;
    opacity: 1;
}
.product-style figcaption {  
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.product-style figcaption>h3 {
    font-size: 1.4em;
    font-weight: 500;
    color: #063547;
    margin: 0;
}

@media screen and (max-width: 768px) {
  .products-grid .product-style {
    width: 45%;
  }
  .product-style img.product-item {
      /*height: 550px;*/
      object-fit: contain;
      margin: 0 auto;
  }
  .products-grid.col-3 .product-style,
  .products-grid.col-4 .product-style,
  .products-grid.col-5 .product-style {
      width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .products-grid .product-style {
    width: 100%;
  }
}